@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.left-ear {
  transform: translate(0px,5px);
  transition: all .25s linear;
}

.right-ear {
  transform: translate(0px,5px);
  transition: all .25s linear;
}

.bear:hover .left-ear{
  transform: translate(0px,-5px);
}

.bear:hover .right-ear {
  transform: translate(0px,-5px);
}

.right-eye {
  animation: shiftyeyes 1s infinite linear alternate;
}

.left-eye {
  animation: shiftyeyes 1s infinite linear alternate;
}

@keyframes shiftyeyes {
  
  0% { transform: translateX(-10px); }

  100% { transform: translateX(10px); }
}
